* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8cbf6; /* Light purple-blue background */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Alagard', cursive;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.arrow-left, .arrow-right {
  font-size: 3rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.arrow-left:hover, .arrow-right:hover {
  color: #ccccff; /* Lightened hover effect */
}

.image-link {
  text-decoration: none;
}

.headphone-icon {
  width: 270px; /* Adjust icon size */
  transition: transform 0.3s ease;
}

.headphone-icon:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}

.back-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #ccc;
}

